.welcome {
  margin-left: 400px;
}

.boxContainer {
  display: flex;
  justify-content: space-between;
  margin: 150px auto;
  width: 900px;
}

.notify {
  text-align: center;
}

.notification-message {
  font-weight: normal; 
  font-size: 1rem; 
  color: #333; 
}

